<!--<section class="content">-->

  <!--&lt;!&ndash; Default box &ndash;&gt;-->
  <!--<div class="box">-->
    <!--<div class="box-header with-border">-->
      <!--<h3 class="box-title">病理</h3>-->

      <!--&lt;!&ndash;<div class="box-tools pull-right">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="fa fa-minus"></i></button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">&ndash;&gt;-->
          <!--&lt;!&ndash;<i class="fa fa-times"></i></button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->

    <!--<div class="box-body">-->
      <!--<div id="view"></div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.box-body &ndash;&gt;-->
    <!--<div class="box-footer">-->
      <!--Footer-->
    <!--</div>-->
    <!--&lt;!&ndash; /.box-footer&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; /.box &ndash;&gt;-->

<!--</section>-->

<div id="view"></div>
<div id="properties">
  <h1>图片属性</h1>

  <div id="properties-inner">
    <dl>

      <dt>openslide.level-count
      <dd>9

      <dt>openslide.level[0].downsample
      <dd>1

      <dt>openslide.level[0].height
      <dd>210579

      <dt>openslide.level[0].tile-height
      <dd>512

      <dt>openslide.level[0].tile-width
      <dd>512

      <dt>openslide.level[0].width
      <dd>94968

      <dt>openslide.level[1].downsample
      <dd>2.0000047488341615

      <dt>openslide.level[1].height
      <dd>105289

      <dt>openslide.level[1].tile-height
      <dd>512

    </dl>
  </div>

</div>
